@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

.text-center {
  text-align: inherit !important;
}

.max-w-2xl {
  max-width: none !important;
}

html, body {
  background-color: #FFFDF1;
  background-repeat: repeat;
  background-size: cover;
  color: #212121;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

h3, p, ul, li, td, tr, th {
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3{
  font-size: 2rem;
}

p, li, td, tr, th { 
  font-size: 1.2rem;
}

h1, h2{
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

h1{
  font-size: 3.44rem;
}

h4{
  font-family: code-saver, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.2rem;
}

h5{
  font-family: code-saver, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
}

.frontGroup{
  position: "relative";
  z-index: 3;
  margin-left: 12rem;
  line-height: 1rem;
  padding-top: 10vw;
  max-width: 40%;
}

.frontGroup h1{
  line-height: 3.7rem;
}

.headerBody{
  margin-left: 18rem;
  margin-right: 18rem;
}

.textBody{
  padding-top:4rem;
  margin-bottom: 15rem;
}

@media (min-width: 768px) {      /* md */
  .textBody {
    margin-left: 12rem;
    margin-right: 12rem;
  }
  .frontGroup{

    margin-left: 12rem;
  }
}

@media (min-width: 1500px) {      /* lg */
  .textBody {
    margin-left: 18rem;
    margin-right: 18rem;
  }
  .frontGroup{

    margin-left: 18rem;
  }
}


.socialMedia {
  display:flex;
  flex-direction: row;
  font-size: 2.25rem;
  gap: 1rem;
}

.button {
  color: #212121;
  transition: color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  color: #212121; 
  transform: scale(1.1);
}

.overflowY{
  overflow-y: hidden;
  position: scroll;
}

.torontoContainer {
  position: relative;
  top: 5vw;
  right: 0;
  margin-bottom: 6vw;
}

.cnTower {
  position: absolute;
  bottom: 0rem;
  right: 0;
  min-width: 170rem;
}

.grass {
  position: relative;
  right: 0;
  z-index: 1;
  min-height: 8rem;
}
.goTrain{
  position: relative;
  z-index: 2;
}

a {
  pointer-events: auto;
  z-index: 10;
}

.findings p {
  margin-block: 0;
}


@media (max-width: 1780px) {
  .cnTower {
    min-width: 140rem;
  }
}
@media (max-width: 1200px) {
  html, body {
    background-image: url("assets/noise50opacity.svg"); 
  }
  .torontoContainer{
    padding-top: 9rem;
  }
  .cnTower {
    bottom: 10rem;
    right: 0;
    min-width: 100rem;
    height:auto;
    z-index: 0;
  }
  .headerBody{
    margin:2rem;
  }
  
  .textBody{
    margin:2rem;
  }
  
  .goTrain{
    top:10rem;
  }
  .frontGroup{
    padding-top: 8rem;
    line-height: 1.5rem;
  }
  .grass {
    min-height: 14rem;
  }
  
}

@media (max-width: 800px) {html, body {
  .frontGroup{
    margin:1rem;
    line-height: 1.8rem;
    text-align: center;
    max-width: 100%;
    padding-bottom: 5rem;
  }
  .textBody{
    margin:1rem;
    margin-bottom:10rem;
    text-align: center;
    
  }
  .headerBody{
    margin:1rem;
  }
  .socialMedia {
    display:flex;  
    justify-content: center;
    align-items: center;
  }
  
}
}
