@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
.background {
  background-color: #000000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
